
.ideaSection {
    padding: 2.5rem 0;
    margin-top: 5.5rem;
}

.vector_images {
    max-height: 22rem;
}

.reactangle_headline {

    width: 20px;
    border-radius: 150px;
    height: 20px;
    display: block;
    background: #5c6a63;
    margin-right: 2.5rem;
}
.main_headline {
    font-size: 38px;
    font-weight: lighter;
    font-family: 'Julius Sans One', sans-serif;
    color: #010101;
}
.error_headline {
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Julius Sans One', sans-serif;
    color: #f01;
}

.success_headline {
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Julius Sans One', sans-serif;
    color: #5c6a63;
}

.main_headline_sm {
    font-size: 32px;
    font-weight: lighter;
    font-family: 'Julius Sans One', sans-serif;
    color: #010101;
}
.main_headline:hover {
    font-weight: bold;
}
.main_para {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Sarala', sans-serif;
    line-height: 25px;
}

.grid_ideas_section .g-col-2 {
    grid-gap: 3.5rem;
}

@media (max-width: 800px) {
    .main_headline {
        font-size: 30px;

    }
    .main_headline_sm {
        font-size: 24px;

    }
    .main_para {
        font-size: 13px;
        line-height: 23px;
    }
}

@media (max-width: 550px) {
    .main_headline {
        font-size: 26px;
    }
    .main_headline_sm {
        font-size: 21px;
    }
    .grid_ideas_section .g-col-2 {
        flex: none;
        display: block;
        grid-template-columns: repeat(1 , 1fr) !important ;
        
    }
    .ideas_image {
        margin-top: 3.5rem;
    }
    .vector_images {
        min-height: 15rem ;
        max-height: 15rem ;
    }
}

@media (max-width: 350px) {
    .main_headline {
        font-size: 22px;

    }
    .main_headline_sm {
        font-size: 16px;

    }
    .main_para {
        font-size: 12px;
        line-height: 22px;
    }
}

@media (max-width: 250px) {
    .main_headline {
        font-size: 20px;

    }
    .main_headline_sm {
        font-size: 14px;

    }
}